services:
  mrwho:
    build:
      context: .
      dockerfile: MrWho/Dockerfile
    container_name: mrwho-identity
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      DOTNET_RUNNING_IN_CONTAINER: "false"
      Database__Provider: PostgreSql
      Database__MigrationsAssembly: MrWho.Migrations.PostgreSql
      # External Neon Postgres connection (set NEON_PG_CONNSTR in your .env)
      ConnectionStrings__mrwhodb: ${NEON_PG_CONNSTR}
      DISABLE_HTTPS_REDIRECT: "true"
      OPENIDDICT__ISSUER: https://mrwho.up.railway.app/
    ports:
      - "8080:8080"  # HTTP
