services:
  mysql:
    image: mysql:8.4
    container_name: mrwho-mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=MrWho
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 10

  mrwho:
    build:
      context: .
      dockerfile: MrWho/Dockerfile
    container_name: mrwho-identity
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${ASPNETCORE_Kestrel__Certificates__Default__Password}
      # Switch provider to MySql (or MariaDb) and point to the mysql service
      - Database__Provider=MySql
      - Database__MigrationsAssembly=MrWho.Migrations.MySql
      # Set flavor/version if you need to override autodetect
      # - Database__MySql__Flavor=MySql  # or MariaDb
      # - Database__MySql__Version=8.0.36 # or 11.2.0 for MariaDB
      - ConnectionStrings__mrwhodb=Server=mysql;Database=MrWho;User ID=root;Password=${MYSQL_ROOT_PASSWORD};
      - DISABLE_HTTPS_REDIRECT=true
      - OPENIDDICT__ISSUER=https://localhost:7113/
    ports:
      - "7113:8443"  # HTTPS
    volumes:
      - ${LOCAL_HTTPS_CERT_DIR}:/https:ro

  admin:
    build:
      context: .
      dockerfile: MrWhoAdmin.Web/Dockerfile
    container_name: mrwho-admin-web
    depends_on:
      - mrwho
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${ASPNETCORE_Kestrel__Certificates__Default__Password}
      - "MrWhoApi__BaseUrl=http://mrwho:8080/"  # internal HTTP within network is fine
      - "Authentication__Authority=https://localhost:7113/"
      - "Authentication__MetadataAddress=https://mrwho:8443/.well-known/openid-configuration"
      - "Authentication__AllowSelfSigned=true"
    ports:
      - "7257:8443"  # HTTPS
    volumes:
      - ${LOCAL_HTTPS_CERT_DIR}:/https:ro
